<!doctype html>
<html lang="en-us">
    <head>
        <title>Device Configuration</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <header>
            <h1>Configure Video Device</h1>
        </header>

        <main>
            <div class="video-device">
                <h2>{{ serial }}</h2>
                <div>{{ device_settings }}</div>
                <div id="{{ video_device }}" class="video-settings">
                    <div>
                        <label for="{{ video_device }}-endpoint">Endpoint</label>
                        <input type="text" value="{{ device_config['endpoint'] }}" name="{{ video_device }}-endpoint" id="{{ video_device }}-endpoint"/>
                    </div>
                    <div>
                        <label for="{{ video_device }}-type">Type</label>
                        <select name="{{ video_device }}-type">
                            <option value="C920">C920</option>
                            <option value="C922">C922</option>
                            <option value="BRIO">BRIO</option>
                            <option value="CAMLINK">CAMLINK</option>
                            <option value="PICAMERA">PICAMERA</option>
                        </select>
                    </div>
                    <div class="video-control">
                        <label for="{{ video_device }}-gain">Gain</label>
                        <input type="number" min="0" max="255" value="{{ v4l2['gain'] }}" name="{{ video_device }}-gain" id="{{ video_device }}-gain" onchange="updateValue(this, '{{ video_device }}-range');" />
                        <input type="range" min="0" max="255" value="{{ v4l2['gain'] }}" name="{{ video_device }}-range" id="{{ video_device }}-range" oninput="updateValue(this, '{{ video_device }}-gain');" />
                    </div>

                    <div class="video-control">
                        <label for="{{ video_device }}-white_balance_temperature_auto">White Balance Auto</label>
                        <input type="checkbox" name="{{ video_device }}-white_balance_temperature_auto" {{ 'checked' if v4l2['white_balance_temperature_auto'] == '1' else '' }} id="{{ video_device }}-white_balance_temperature_auto"/>
                    </div>

                    <div class="video-control">
                        <label for="{{ video_device }}-white_balance_temperature">White Balance Temperature</label>
                        <input type="number" min="2000" max="6500" step="100" value="{{ v4l2['white_balance_temperature'] }}" name="{{ video_device }}-white_balance_temperature" id="{{ video_device }}-white_balance_temperature" onchange="updateValue(this, '{{ video_device }}-white_balance_temperature-range')" />
                        <input type="range" min="2000" max="6500" step="100" value="{{ v4l2['white_balance_temperature'] }}" name="{{ video_device }}-white_balance_temperature-range" id="{{ video_device }}-white_balance_temperature-range" oninput="updateValue(this, '{{ video_device }}-white_balance_temperature')" />
                    </div>

                    <div class="video-control">
                        <label for="{{ video_device }}-exposure_auto">Exposure Auto</label>
                        <input type="checkbox" name="{{ video_device }}-exposure_auto" {{ 'checked' if v4l2['exposure_auto'] == '3' else '' }} id="{{ video_device }}-exposure_auto"/>
                    </div>

                    <div class="video-control">
                        <label for="{{ video_device }}-exposure_auto_priority">Exposure Auto Priority</label>
                        <input type="checkbox" name="{{ video_device }}-exposure_auto_priority" {{ 'checked' if v4l2['exposure_auto_priority'] == '1' else '' }} id="{{ video_device }}-exposure_auto_priority"/>
                    </div>

                    <div class="video-control">
                        <label for="{{ video_device }}-exposure_absolute">Exposure Absolute</label>
                        <input type="number" min="3" max="1600" value="{{ v4l2['exposure_absolute'] }}" name="{{ video_device }}-exposure_absolute" id="{{ video_device }}-exposure_absolute" onchange="updateValue(this, '{{ video_device }}-exposure_absolute-range')" />
                        <input type="range" min="3" max="1600" value="{{ v4l2['exposure_absolute'] }}" name="{{ video_device }}-exposure_absolute-range" id="{{ video_device }}-exposure_absolute-range" oninput="updateValue(this, '{{ video_device }}-exposure_absolute')" />
                    </div>

                    <div class="video-control">
                        <label for="{{ video_device }}-brightness">Brightness</label>
                        <input type="number" min="0" max="255" value="{{ v4l2['brightness'] }}" name="{{ video_device }}-brightness" id="{{ video_device }}-brightness" onchange="updateValue(this, '{{ video_device }}-brightness-range')" />
                        <input type="range" min="0" max="255" value="{{ v4l2['brightness'] }}" name="{{ video_device }}-brightness-range" id="{{ video_device }}-brightness-range" oninput="updateValue(this, '{{ video_device }}-brightness')" />
                    </div>

                    <div class="video-control">
                        <label for="{{ video_device }}-contrast">Contrast</label>
                        <input type="number" min="0" max="255" value="{{ v4l2['contrast'] }}" name="{{ video_device }}-contrast" id="{{ video_device }}-contrast" onchange="updateValue(this, '{{ video_device }}-contrast-range')" />
                        <input type="range" min="0" max="255" value="{{ v4l2['contrast'] }}" name="{{ video_device }}-contrast-range" id="{{ video_device }}-contrast-range" oninput="updateValue(this, '{{ video_device }}-contrast')" />
                    </div>

                    <div class="video-control">
                        <label for="{{ video_device }}-saturation">Saturation</label>
                        <input type="number" min="0" max="255" value="{{ v4l2['saturation'] }}" name="{{ video_device }}-saturation" id="{{ video_device }}-saturation" onchange="updateValue(this, '{{ video_device }}-saturation-range')" />
                        <input type="range" min="0" max="255" value="{{ v4l2['saturation'] }}" name="{{ video_device }}-saturation-range" id="{{ video_device }}-saturation-range" oninput="updateValue(this, '{{ video_device }}-saturation')" />
                    </div>

                    <div class="video-control">
                        <label for="{{ video_device }}-sharpness">Sharpness</label>
                        <input type="number" min="0" max="255" value="{{ v4l2['sharpness'] }}" name="{{ video_device }}-sharpness" id="{{ video_device }}-sharpness" onchange="updateValue(this, '{{ video_device }}-sharpness-range')" />
                        <input type="range" min="0" max="255" value="{{ v4l2['sharpness'] }}" name="{{ video_device }}-sharpness-range" id="{{ video_device }}-sharpness-range" oninput="updateValue(this, '{{ video_device }}-sharpness')" />
                    </div>

                    <div class="video-control">
                        <label for="{{ video_device }}-pan_absolute">Pan Absolute</label>
                        <input type="number" min="-36000" max="36000" step="3600" value="{{ v4l2['pan_absolute'] }}" name="{{ video_device }}-pan_absolute" id="{{ video_device }}-pan_absolute" onchange="updateValue(this, '{{ video_device }}-pan_absolute-range')" />
                        <input type="range" min="-36000" max="36000" step="3600" value="{{ v4l2['pan_absolute'] }}" name="{{ video_device }}-pan_absolute-range" id="{{ video_device }}-pan_absolute-range" oninput="updateValue(this, '{{ video_device }}-pan_absolute')" />
                    </div>

                    <div class="video-control">
                        <label for="{{ video_device }}-tilt_absolute">Tilt Absolute</label>
                        <input type="number" min="-36000" max="36000" step="3600" value="{{ v4l2['tilt_absolute'] }}" name="{{ video_device }}-tilt_absolute" id="{{ video_device }}-tilt_absolute" onchange="updateValue(this, '{{ video_device }}-tilt_absolute-range')" />
                        <input type="range" min="-36000" max="36000" step="3600" value="{{ v4l2['tilt_absolute'] }}" name="{{ video_device }}-tilt_absolute-range" id="{{ video_device }}-tilt_absolute-range" oninput="updateValue(this, '{{ video_device }}-tilt_absolute')" />
                    </div>

                    <div class="video-control">
                        <label for="{{ video_device }}-backlight_compensation">Backlight Compensation</label>
                        <input type="checkbox" name="{{ video_device }}-backlight_compensation" {{ 'checked' if v4l2['backlight_compensation'] == '1' }} id="{{ video_device }}-backlight_compensation"/>
                    </div>

                    <div class="video-control">
                        <label for="{{ video_device }}-focus_auto">Focus Auto</label>
                        <input type="checkbox" name="{{ video_device }}-focus_auto" {{ 'checked' if v4l2['focus_auto'] == '1' }} id="{{ video_device }}-focus_auto"/>
                    </div>

                    <div class="video-control">
                        <label for="{{ video_device }}-focus_absolute">Focus Absolute</label>
                        <input type="number" min="0" max="250" step="5" value="{{ v4l2['focus_absolute'] }}" name="{{ video_device }}-focus_absolute" id="{{ video_device }}-focus_absolute" onchange="updateValue(this, '{{ video_device }}-focus_absolute-range')" />
                        <input type="range" min="0" max="250" step="5" value="{{ v4l2['focus_absolute'] }}" name="{{ video_device }}-focus_absolute-range" id="{{ video_device }}-focus_absolute-range" oninput="updateValue(this, '{{ video_device }}-focus_absolute')" />
                    </div>

                    <div class="video-control">
                        <label for="{{ video_device }}-zoom_absolute">Zoom Absolute</label>
                        <input type="number" min="100" max="500" value="{{ v4l2['zoom_absolute'] }}" name="{{ video_device }}-zoom_absolute" id="{{ video_device }}-zoom_absolute" onchange="updateValue(this, '{{ video_device }}-zoom_absolute-range')" />
                        <input type="range" min="100" max="500" value="{{ v4l2['zoom_absolute'] }}" name="{{ video_device }}-zoom_absolute-range" id="{{ video_device }}-zoom_absolute-range" oninput="updateValue(this, '{{ video_device }}-zoom_absolute')" />
                    </div>
                </div>
                <div>
                    <button name="update" onclick="updateSettings('{{ video_device }}')">Update</button>
                </div>
            </div>
            {% if device_config %}
            <div>
                <button id="delete-config" onclick="deleteConfig('{{ serial }}')">Delete Configuration</button>
            </div>
            {% endif %}
        </main>

        <footer>
        </footer>

        <script>
            function deleteConfig(serial) {
                if (confirm('Are you sure you want to delete?')) {
                    fetch('/config-device/' + serial, {
                        method: 'DELETE',
                    })
                    .then(function(response) {
                        return response.json();
                    });
                }
            }
        </script>
    </body>
</html>
